<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated THMicroservice -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="THMicroservice.presentation.THMicroserviceModelWizardID"
            name="%_UI_THMicroserviceModelWizard_label"
            class="THMicroservice.presentation.THMicroserviceModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/THMicroserviceModelFile.gif">
         <description>%_UI_THMicroserviceModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated THMicroservice -->
      <editor
            id="THMicroservice.presentation.THMicroserviceEditorID"
            name="%_UI_THMicroserviceEditor_label"
            icon="icons/full/obj16/THMicroserviceModelFile.gif"
            extensions="thmicroservice"
            class="THMicroservice.presentation.THMicroserviceEditor"
            contributorClass="THMicroservice.presentation.THMicroserviceActionBarContributor">
      </editor>
   </extension>

</plugin>
